.navbar {
	background-color: var(--navbar);
	color: white;
	letter-spacing: 2px;
}

.navbar .center {
	margin: 0 auto;
	width: 80%;
	padding: 1rem 2rem;

	display: flex;
	justify-content: space-between;
}

.navbar .center .navlinks {
	align-self: center;
	height: 100%;
	list-style: none;
	display: flex;
	gap: 1rem;
}

.navbar .center .menu {
	display: none;
	align-self: center;
	font-size: 1.5rem;
	cursor: pointer;
}

.navbar .center .navlinks .link {
	cursor: pointer;
}

.navbar .center .navlinks .loginbtn {
	color: var(--login-btn);
}

@media screen and (max-width: 780px) {
	.navbar .center .navlinks {
		display: none;
	}

	.navbar .center .menu {
		display: unset;
	}

	.navbar .center {
		width: 90%;
	}
}
