* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;

	/* Color Variables */
	--navbar: #1a2332;
	--login-btn: #40a295;
	--body: #111927;
	--btn-bg: #1a2332;
	--faded-white: rgb(221, 221, 221);
	--up: #8bd100;
	--down: red;
}

body {
	height: 100vh;
	background-color: var(--body);
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #1a2332;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #40a295;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
